---
import StoryLayout from "../../layouts/StoryLayout.astro";
import Divider from "../../components/divider/Divider.svelte";
import MediaWithSpacer from "../../components/media/MediaWithSpacer.svelte";
import Spacer from "../../components/spacer/Spacer.svelte";
import StoryGuideLinkButton from "../../components/linkButton/StoryGuideLinkButton.svelte";
import StorySpacer from "../../components/storySpacer/StorySpacer.svelte";
import ScriptSetItem from "../../components/script/ScriptSetItem.svelte";
import CharacterLine from "../../components/characterLine/CharacterLine.svelte";

const episode = 0;
const content = "彼らは遠く離れてしまった淡い過去を大事そうに語った。そんな彼らに私がすべきことは、その交差した想いを一点に結ぶだけであった。";
---

<StoryLayout episode={episode} content={content}>
  <CharacterLine name="girl">
    「じゃあ、よーいドン！」
  </CharacterLine>
  <p>
    それを合図に、彼女は駆け出し、俺は当惑しながらもその後についていくのだった。
  </p>
  <Spacer templates="low" />
  <p>
    ・・・
  </p>
  <MediaWithSpacer name="shrine_evening_sepia" />
  <p>
    やがて前方の彼女の姿は遠く離れてはいたものの、その場所へと辿り着いた。<br>
    階段の左端に座り込み、額の汗を拭う。
  </p>
  <CharacterLine name="girl">
    「あ、ようやく来た。もう、遅いんだから。」
  </CharacterLine>
  <p>
    背後から彼女の声が聞こえた。
  </p>
  <CharacterLine>
    「いきなり、ここの神社まで競争だ、なんて言われても心の準備ってもんがあるだろ。」
  </CharacterLine>
  <CharacterLine name="girl">
    「そんなもんかなー。まぁ、今のは体力勝負だったけどね。」
  </CharacterLine>
  <p>
    彼女は俺の隣に、どっかりと腰を据える。
  </p>
  <CharacterLine>
    「そういえば、なんでここに連れて来たんだ？」
  </CharacterLine>
  <CharacterLine name="girl">
    「うーん、特に何も考えてなかった。」
  </CharacterLine>
  <CharacterLine>
    「まったく、、付き合わされた俺の苦労は一体・・・」
  </CharacterLine>
  <CharacterLine name="girl">
    「せめて言うなら、ここから夕日を一望できるってことかな。」
  </CharacterLine>
  <MediaWithSpacer name="shrine_torii_evening_sepia" />
  <CharacterLine>
    「確かに、眩しいぐらいの光景だ。」
  </CharacterLine>
  <p>
    俺は隣の彼女を横目でちらと覗くと、似合わないような落ち着いた雰囲気でいた。
  </p>
  <CharacterLine name="girl">
    「でも、夕日が沈んでいくのは寂しい気もする。」
  </CharacterLine>
  <CharacterLine>
    「そうか？別に、いつもと何ら変わりない光景だろう。」
  </CharacterLine>
  <CharacterLine name="girl">
    「そうだよね、、ただ、今日だけはこの景色がずっと続いていてくれればいいのにって、そう思っちゃうな、なんて。」
  </CharacterLine>
  <CharacterLine>
    「まぁ俺にはさっぱり分からん。詩人にでもなったらアドバイスをもらおうとするかな。」
  </CharacterLine>
  <CharacterLine name="girl">
    「あー、バカにして。そういえば、あの約束を忘れていないでしょうね？」
  </CharacterLine>
  <CharacterLine>
    「なんのことだったかな。」
  </CharacterLine>
  <CharacterLine name="girl">
    「とぼけないでよね。負けた方が相手の言うことを一つきく、っていうの。」
  </CharacterLine>
  <CharacterLine>
    「そうだったかもしれないな。ただ、変なのだったら断るぞ。」
  </CharacterLine>
  <CharacterLine name="girl">
    「じゃあ、変なことじゃなきゃいいんだよね？ふふふ、そうだなー。」
  </CharacterLine>
  <p>
    彼女は上の空にニヤつきながら、足をぶらつかせている。
  </p>
  <Spacer templates="low" />
  <p>
    そして、それが束の間で止まったかと思うと彼女はこちらを向いた。
  </p>
  <CharacterLine name="girl">
    「目を瞑って。」
  </CharacterLine>
  <StorySpacer innerContents={false} />
  <CharacterLine>
    「え、、それだけか？」
  </CharacterLine>
  <p>
    しばらくの緊張があまりに緩く解けたことに、拍子抜けした。
  </p>
  <CharacterLine name="girl">
    「うん。だから、ほら早く！」
  </CharacterLine>
  <p>
    俺は急かされるようにして瞼を閉じた。そうしてしばらく特に何も感じることは、
  </p>
  <Spacer />
  <p>
    ・・・ん。
  </p>
  <Spacer />
  <p>
    あったのだろう。ふいに温かい感触が唇に伝わってきた。
  </p>
  <p>
    そしてゆっくりと彼女の気配が次第に離れていくのを察し、ゆっくりと瞼を開いた。
  </p>
  <CharacterLine name="girl">
    「それじゃあ、またね！」
  </CharacterLine>
  <p>
    彼女は急ぎ足で、瞬く間に階段を駆け下りていく。
  </p>
  <CharacterLine>
    「あぁ・・・」
  </CharacterLine>
  <p>
    俺は呆然と、気の抜けた返事だけを残した。<br>
    と同時に、ふと右手に何かを握っていることに気が付いた。<br>
    その手を開くと、そこにあったのは、ここの縁結びの御守りであった。
  </p>
  <Divider />
  <p>
    その日以来、俺は彼女と会うことはなかった。
  </p>
  <Spacer templates="low" />
  <p>
    バカらしいと笑われるだろう。<br>
    そんな過去のことにいつまでも拘って、ここに来てしまうなんて。<br>
    どうせ忘れてしまわれる記憶で思い出に過ぎないことも分かっている。
  </p>
  <Spacer templates="low" />
  <p>
    けれど、、<br>
    俺は期待してしまう。<br>
    彼女もまだ待っていてくれるんじゃないかって、ずっと。
  </p>
  <Spacer templates="low" />
  <p>
    俺は待っているんだ。<br>
    あのとき出来なかった返事が言いたいという、それだけのために。
  </p>
  <Spacer />
  <StoryGuideLinkButton to="/episodes/3">意識を戻す</StoryGuideLinkButton>
  <Spacer />
  <ScriptSetItem client:only />
</StoryLayout>