---
import StoryLayout from "../../layouts/StoryLayout.astro";
import MediaWithSpacer from "../../components/media/MediaWithSpacer.svelte";
import Spacer from "../../components/spacer/Spacer.svelte";
import StorySpacer from "../../components/storySpacer/StorySpacer.svelte";
import CharacterLine from "../../components/characterLine/CharacterLine.svelte";

const episode = 1;
const content = "『待ち人』1日目。最後の参拝者に私が出来ることは何だろうか。私はそれをずっと考え続けていた。"
---
<StoryLayout episode={episode} content={content}>
  <p>
    俺は今日も、あの神社へと続く石段を登った。<br>
    山の麓にあるそこには、一人の足跡が続くぐらいだ。<br>
    <Spacer templates="low" />
    ただ、どうしてだろうか、その足跡でさえ俺は見失ってしまう。<br>
    <Spacer templates="low" />
    その神社には誰もいない。荒れてしまった残骸が、取り残された過去だけが、ひどく夕陽に晒されている。
  </p>
  <MediaWithSpacer name="shrine_evening" />
  <p>
    俺は、向かって左隅にある木製のベンチへと向かい、そこに腰を下ろした。<br>
    手提げの中を覗き込んだが、やはり、そこは空っぽである。<br>
    閑寂とした空気の中に風が流れ、手提げに縛られた、色褪せたお守りが細やかに揺れていた。
  </p>
  <StorySpacer innerContents={false} />
  <p>
    しばらくすると風は弱くなり、俺は腰を持ち上げて左手にある賽銭箱へと向かった。
  </p>
  <Spacer templates="low" />
  <p>
    ポケットから硬貨を取り出し、そこへ放り入れる。
  </p>
  <MediaWithSpacer type="audio" name="osaisen" client:load />
  <p>
    そして、そばにあった本坪鈴から垂れた紐を揺らして鈴を鳴らした。
  </p>
  <MediaWithSpacer type="audio" name="bell" client:load />
  <p>
    後ろを振り向けば、蜜柑色の冷えた空が広がっていた。<br>
  </p>
  <MediaWithSpacer name="shrine_torii_evening" />
  <CharacterLine>
    『君は待っていてくれるのだろうか。』
  </CharacterLine>
  <p>
    それから少し、視線をそらした。
  </p>
</StoryLayout>