---
import StoryLayout from "../../layouts/StoryLayout.astro";
import MediaWithSpacer from "../../components/media/MediaWithSpacer.svelte";
import DayThreeAfter from "../../components/dayThreeAfter/DayThreeAfter.svelte";
import Spacer from "../../components/spacer/Spacer.svelte";
import StoryGuideLinkButton from "../../components/linkButton/StoryGuideLinkButton.svelte";
import ScriptScroll from "../../components/script/ScriptScroll.svelte";
import CharacterLine from "../../components/characterLine/CharacterLine.svelte";

const episode = 3;
const content = "『待ち人』3日目。私は彼らに対し、私自身が役割を果たすべきか否かを託すことにした。";
---
<StoryLayout episode={episode} content={content}>
  <MediaWithSpacer name="rain" />
  <p>
    今日は雨が降っていた。<br>
    俺は傘を差し、あの場所へと向かう。
  </p>
  <MediaWithSpacer name="shrine_rain_step" />
  <p>
    そうして、石段の前で立ち止まった。
  </p>
  <p>
    今日だって俺は目を背けてしまうのだろう、何を話せるというのか。
  </p>
  <p>
    恐る恐る一段ずつ登る毎に、ぴちゃりぴちゃりと水溜りを踏みつけ足元は濡れ続け、その冷え切った足先でさえ言い訳にするには十分であった。
  </p>
  <Spacer templates="low" />
  <p>・・・</p>
  <MediaWithSpacer name="shrine_rain" />
  <p>
    無意識の生み出した先に足をかけようと試みた際の浮遊感を得て、初めて自らの居場所を把握した。そして、垂れ下がっていた頭を持ち上げると、そこにはやはり、彼女がいた。<br>
    俺は一度深く瞬きをし、改めてそれを確認すると、あそこへと再び歩き出した。
  </p>
  <Spacer templates="low" />
  <p>・・・</p>
  <MediaWithSpacer name="shrine_rain_diagonal" />
  <p>
    傘を閉じ、彼女の傍らへと腰を下ろす。<br>
    次第に強くなる雨音の中、俺はポツリと呟いた。
  </p>
  <CharacterLine>
    「きっと傍から見れば、馬鹿なことをしているのだろう。自分自身でさえ目的も見失っている。<br>
    それを知るのがずっと怖くて逃げ続けて、どうしようもない。」
  </CharacterLine>
  <CharacterLine name="girl">
    「あなたの待ち人はどなたでしょうか。」
  </CharacterLine>
  <Spacer templates="low" />
  <CharacterLine>
    「・・・、それに答えるために、少し時間をもらえないだろうか。」
  </CharacterLine>
  <p>
    彼女は幾ばくかの沈黙の後、見透かしたかのように優しく応えた。
  </p>
  <CharacterLine name="girl">
    「分かりました。」
  </CharacterLine>
  <p>
    それを聞くと、俺は瞼を閉じて、あの日へと意識を遡らせた。
  </p>
  <Spacer />
  <StoryGuideLinkButton to="/episodes/0">記憶を辿る</StoryGuideLinkButton>
  <Spacer />
  <DayThreeAfter client:load />
  <ScriptScroll client:only />
</StoryLayout>