---
import Layout from "../layouts/Layout.astro";
import Form from "../components/form/Form.svelte";
import Spacer from "../components/spacer/Spacer.svelte";
import Divider from "../components/divider/Divider.svelte";
import StickyNote from "../components/stickyNote/stickyNote.svelte";

const title = "お問い合わせ";
const content = "『待ち人』の作者、りょうへのお問い合わせフォームです。作品へのコメント、誤字の報告など、どんなご意見もお気軽にお寄せください。";
---

<Layout title={title} content={content}>
  <p>
    本作品に対するコメントや誤字報告など、お気軽にお問い合わせ下さい。<br>
    X（旧Twitter）のDMも開放しているため、そちらをお使いになられても構いません。<br>
    いただいた情報は私以外の者と共有することはございませんので、ご安心ください。
  </p>
  <Divider />
  <StickyNote type="warn">
    <p>現在（2023/08/16）、フォームが機能しない不具合が発生しているため、何か用事がありましたらお手数ですがページ下部のリンクのSNSアカウントよりご連絡ください。</p>
  </StickyNote>
  <Spacer />
  <h2 class="text-center italic text-xl">Contact</h2>
  <Spacer templates="low" />
  <Form client:load />
</Layout>