---
import Header from "../components/header/Header.svelte";
import Navigation from "../components/navigation/Navigation.svelte";
import Footer from "../components/footer/Footer.svelte";
import Spacer from "../components/spacer/Spacer.svelte";
import CommonHead from './CommonHead.astro';

type Props = {
  title: string;
	content: string;
}

const { title, content } = Astro.props;
---
<CommonHead title={`待ち人｜${title}`} content={content} />
	<body class="flex flex-col min-h-screen">
		<Header title={title} />
		<Navigation client:load />
		<main class="mx-auto p-4 pb-0 w-[90%] max-w-[1000px] flex-1 leading-loose">
			<Spacer />
			<slot />
		</main>
		<Footer />
  </body>
</CommonHead>